body{
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 60px;
}
header{
    background-color: black;
    color: white;
    height: 170px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 
}
h1{
    font-weight: bolder;
    font-size: 100px;
    margin-left: -400px;
}
/* composicion del nav general de todas las paginas  */
header nav{
  background-color: #292828;
  border-radius: 6px;
  margin-right: 50px;
}
header nav ul li {
    margin-right: 20px; 
  }
  
header nav ul {
    list-style-type: none; 
    display: flex; 
    margin-right: 40px;
    gap: 25px;
}

/* no tiene header nav ya que va a hacer parte de otro nav dentro del main de herramientas*/
nav ul li a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
}   
a:hover{
    color: black;
    background-color: yellow;
    border-radius: 2px;
    padding: 15px;
    
}
.imagen{
    margin-left: 6px;
    height: 160px;
    border-radius: 10px;
} 


.sectionind{
    text-align: justify;
    background-color:rgb(241, 233, 111);   
    padding: 30px; 
    margin-top: 20px;
    border-radius: 8px  
} 
.a1{
    background-color: #292828;
    color: white;
    border-radius: 2px;
}
.a1:hover{
    color: black(241, 238, 238);
    background-color: rgb(243, 243, 237);
    border-radius: 2px;
}

/* estilo de el footer que va a afectar a todas las paginas */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px; 
    margin-top: 20px;
    border-radius: 8px  
}

