.bodyind{
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 60px;
}
.headerind{
    background-color: black;
    color: white;
    height: 170px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 
}
h1{
    font-weight: bolder;
    font-size: 100px;
    margin-left: -400px;
}
nav{
  background-color: #292828;
  border-radius: 6px;
  margin-top: -90px;
  margin-right: 50px;
 
 
}
nav ul li {
    margin-right: 20px; 
  }
  
nav ul {
    list-style-type: none; 
    display: flex; 
    margin-right: 40px;
    gap: 30px;
    
}
nav ul li a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
}   
.sectiona a{
    display: flex; 
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    color: blue;
}
a:hover{
    color: black;
    background-color: yellow;
    border-radius: 2px;
    
}
.imagen{
    margin-left: 6px;
    height: 160px;
    border-radius: 10px;
} 
section{
    text-align: center;
    background-color:rgb(241, 233, 111);   
    padding: 30px; 
    margin-top: 20px;
    border-radius: 8px  
    
}
.recursos{
    text-align: center;
    background-color:rgb(241, 233, 111);   
    padding: 50px 0;
}
.recursos .contenidor {
    display:contents;
    width: 20%;
    margin: 19px;
    text-align:center;
}

.recursos .contenidor img {
    width: 180px;
    height: 80px;
    border-radius: 8px;
}
.contenidoar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: -100px;
    padding: 10px;
}
.contenidor{
    padding: 1.5rem;
}
article{
    background: V+rgb(241, 233, 111); 
    border-radius: 10px;
    overflow:visible;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    width: 300px;
    height: 400px;
    margin: 70px;  
    margin-right: 80px; 
}

.sectionind{
    text-align:justify;
    background-color:rgb(241, 233, 111);   
    padding: 30px; 
    margin-top: 20px;
    border-radius: 8px  
} 
.a1{
    background-color: #292828;
    color: white;
    border-radius: 2px;
}
.a1:hover{
    color: black(241, 238, 238);
    background-color: rgb(243, 243, 237);
    border-radius: 2px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px; 
    margin-top: 20px;
    border-radius: 8px  
}
